<div class="tasks py-2">
  <div class="task-content">
    <div class="card">
      <span class="task-title">Title</span>
      <P class="task-description">Title description</P>
      <span class="task-date">date</span>
      <div class="task-progres">
        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        <div class="task-edit d-flex flex-row gap-3">
          <a href="#" class="edit-task"
            ><i class="fa-regular fa-pen-to-square"></i
          ></a>
          <a href="#" class="delet task"><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="task-content">
    <div class="card">
      <span class="task-title">Title</span>
      <P class="task-description">Title description</P>
      <span class="task-date">date</span>
      <div class="task-progres">
        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        <div class="task-edit d-flex flex-row gap-3">
          <a href="#" class="edit-task"
            ><i class="fa-regular fa-pen-to-square"></i
          ></a>
          <a href="#" class="delet task"><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="task-content">
    <div class="card">
      <span class="task-title">Title</span>
      <P class="task-description">Title description</P>
      <span class="task-date">date</span>
      <div class="task-progres">
        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        <div class="task-edit d-flex flex-row gap-3">
          <a href="#" class="edit-task"
            ><i class="fa-regular fa-pen-to-square"></i
          ></a>
          <a href="#" class="delet task"><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-add-tag d-flex flex-row justify-content-center align-items-center">
    <a href="#" class="add-task text-light d-flex flex-row gap-2 align-items-center text-decoration-none" (click)="toggleButton()"><i class="fa-solid fa-plus"></i>Add Task</a>
  </div>
</div>
