<div class="sidebar">
    <span class="heading d-lg-flex justify-content-center py-4"
      >Task Management</span
    >
    <div class="list">
      <ul class="side-list m-0 px-2">
        <li class="list-items p-2">
          <i class="fa-solid fa-house"></i><a href>All Tasks</a>
        </li>
        <li class="list-items p-2">
          <i class="fa-solid fa-square-check"></i><a href>Complete</a>
        </li>
        <li class="list-items p-2">
          <i class="fa-solid fa-pen-to-square"></i><a href>In Progress</a>
        </li>
        <li class="list-items p-2">
          <i class="fa-solid fa-circle-exclamation"></i><a href>Important</a>
        </li>
      </ul>
    </div>
  </div>