  .heading {
    font-size: 21px;
    font-family: "DM Sans", sans-serif;
    color: #e7e3e3;
    font-weight: 700;
  }
  
  .side-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px 0px;
  }
  
  .side-list a {
    text-decoration: none;
    color: rgb(177 172 172 / 95%);
    font-size: 18px;
    font-weight: 400;
    font-family: "poppins";
  }
  .list-items i {
    color: rgb(177 172 172 / 95%);
  }
  
  .list-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .list {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
  }

  .active-item {
    background-color: rgb(27, 24, 24);
    border-radius: 10px;
    color: #f7f3f3;
    font-weight: bold;
}
