body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.form-container {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 500px;
  box-sizing: border-box;
  position: absolute;
  top: 17%;
  left: 40%;
  z-index: 1;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

input[type="text"],
textarea,
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: white;
  box-sizing: border-box;
  outline: none;
}

textarea {
  resize: none;
  height: 120px;
  overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  display: none;
}

.toggle-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: normal;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.form-group label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.select {
  width: 100%;
  padding: 5px 5px;
  border-radius: 6px;
  background-color: #2e2e2e;
  border: none !important;
  color: #ffffff;
  outline: none;
}

option {
  border: none !important;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(10 10 10 / 31%);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
}

.form-error {
  color: red;
  font-size: 15px;
}

@media (max-width: 880px) {
  .form-container {
    left: 25%;
  }
}

@media (max-width: 740px) {
  .form-container {
    left: 25%;
    width: 350px;
  }
  input[type="text"],
  textarea,
  input[type="date"] {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .form-container {
    left: 15%;
  }
  input[type="text"],
  textarea,
  input[type="date"] {
    font-size: 15px;
  }
}
@media (max-width: 470px) {
  .form-container {
    width: 310px;
  }
}
@media (max-width: 400px) {
  h2 {
    font-size: 20px;
  }
  label {
    font-size: 12px;
  }
  .form-container {
    padding: 13px;
  }
  @media (max-width: 380px) {
    .form-container {
        left: 8%;
    }
    .task-button {
        min-width: 100%;
        min-height: 41px;
        max-width: 100%;
        padding: unset;
    }

  }
  @media (max-width: 355px) {
    .form-container {
        left: 5%;
    }
    
  }
  @media (max-width: 340px) {
    .form-container {
        left: 3%;
    }
  }
}
