
.main-container {
  padding: 10px;
  margin: 0px auto;
}
.main {
  display: flex;
  gap: 1rem;
}

.main-content {
  background: #2d3436;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}

@media (max-width: 880px) {
  .main {
    gap: 0;
    width: 100%;
  }
  .main-content {
    width: 100%;
  }
}
