.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .task-content {
    width: 100%;
    height: auto;
  }
  .card {
    background-color: whitesmoke;
    padding: 15px;
    gap: 10px;
  }
  .task-title {
    font-size: 25px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .task-description {
    font-size: 15px;
    font-weight: 400;
  }
  